
/* Comenzamos con los estilos de diseño establecidos para el color y fuente de la barra de navegación */
.navbar {
background-color: #050831;
}

.nav-item {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* Añadimos estilos a las subclases */
.navbar-nav.ml-auto {
    display: flex;
    justify-content: flex-end;
  }

.navbar-nav {
    display: flex;
    align-items:end; /* Alinea los elementos al final (lado derecho) verticalmente */
  }
   
.navbar-toggler-icon {
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.em;
    height: 1.em;
  }
  
/* Utilizamos mediaquery para establecer la presentación de la página dependeindo las dimensiones del dispositivo */
  @media (max-width: 767px) {
    .navbar-nav.ml-auto {
      justify-content: flex-start;
    }
  }