.navbar {
    background-color: #050831; /* Color de fondo de la navbar */
}

.navbar-expand-lg {
    color: FFFFFF;
}

/* Cambia el color del texto de la marca de la navbar */
.navbar-brand {
    color: #ffffff; /* Color del texto de la marca */
}

/* Cambia el color del texto de los enlaces en la navbar */
.nav-link {
    color: #ffffff; /* Color del texto de los enlaces */
}

/* Cambia el color de los enlaces al pasar el cursor sobre ellos */
.nav-link:hover {
    color: #d3d3d3; /* Color del texto al pasar el cursor (ejemplo: gris claro) */
}

.card {
    border: 1px solid #ccc;
    background: linear-gradient(to top, #133072, #D5E6F7);
    border-radius: 8px;
    padding: 16px;
    max-width: 300px;
    max-height: 500px;
    /* text-align: center; */
    /* font-family: ; */
}

.card-img-top {
    width: 250px;
    height: 250px;
    border-radius: 50%; 
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.centered-content {
    max-width: 1200px; /* Ajusta este valor según el ancho máximo que desees para el contenido */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    padding: 0 20px; /* Añade un pequeño padding para que el contenido no toque los bordes de la pantalla */
}

.footer {
    /* background-color: #333; Color de fondo del footer */
    color: rgb(40, 41, 43); /* Color del texto */
    padding: 20px 0; /* Espaciado alrededor del contenido del footer */
    text-align: center; /* Centrar el texto y los enlaces */
    position: relative; /* Para asegurarse de que el footer se quede en la parte inferior */
    bottom: 0;
    width: 100%; /* Asegura que el footer ocupe todo el ancho de la página */
}