/*
?Paleta de colores.
*Oxford blue: #050831
*Yale blue: #133072
*Columbia blue: #D5E6F7
*Mauve: #D5ADFB   
*Folly: #F90052
*/


.col-lg-5 {
    padding: 0;
    margin: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  
  #imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; 
  }

.div-forms {
  background-color: rgba(213, 173, 251, 0.2);/*color Mauve con opacidad 20%*/
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px; 
}

h1 {
    color:#133072;
    text-align: center;
    font-family: 'Lato', sans-serif;
    ;
}

.subtitulo {
  text-align: center;
  font-family: 'Taviraj', sans-serif;
}

.labels {
  font-family: 'poppins', sans-serif;
}

.form-control{
  font-family: 'poppins', sans-serif;
}

h3 {
  font-family: 'Taviraj', sans-serif;
  color: #133072;
}

.div-preguntas {
  font-family: 'Poppins', sans-serif;
}

.preguntasFrecuentes{
  font-weight: bold;
}

.btn-enviar{
  background-color:#F90052;
  border-color: #F90052;
}

.div-button{
  text-align: center;
}

footer {
  text-align: center;
  color: #133072;
}

@media (max-width: 991px) {
  .col-lg-5, #imagen, .div-forms {
    border-radius: 7%;
    #imagen {
      display: none;
     }
  }
  #imagenPreguntas{
    display:none;
   }
}


@media (max-width: 768px) {
   .div-forms {
    border-radius: 7%;
   }
   #imagen {
    display: none;
   }
   #imagenPreguntas{
    display:none;
   }

}


/* Personalización para SweetAlert2 */
.my-custom-container {
    font-family: 'Poppins', sans-serif; 
    background-color: #D5E6F7; 

}

.my-custom-title {
    color: #133072; /* Color del título */
    font-size: 1.5rem; /* Tamaño del título */
}

.my-custom-content {
    color: #050831; 
    font-size: 1rem; 
}

.my-custom-confirm-button {
    background-color: #F90052; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border-radius: 10%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
}

